*{
    padding: 0;
    margin: 0;
}

.login-bg {
    background-image: url('./assets/images/image.png');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.form-container {
  background-color: rgb(245, 219, 133); 
  width: 30%;
  border-radius: 8px;
  padding: 20px;
}

